.about-container {
  background: url(../img/circuit-board.svg);
  min-height: 90vh;
  height: 100%;
  .about__links {
    display: flex;
    width: 95%;
    margin: 0 auto;
    text-transform: uppercase;
    li {
      padding: 1rem;
      cursor: pointer;
      &::after {
        content: '';
        width: 0px;
        height: 1px;
        display: block;
        background-color: $font-color;
        transition: 0.5s;
      }
      &:hover {
        transition: 0.8s;
        filter: brightness(1.4);
        &::after {
          width: 100%;
        }
      }
    }
  }
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 1000px;
  width: 100%;
  &__info {
    background-color: $bg-color;
    text-align: center;
    border: 1px solid $font-color;
    padding: 4rem;
    margin-bottom: 1rem;
    h4 {
      font-size: 1.2rem;
    }
    hr:first-of-type {
      width: 50%;
      margin: 1rem auto;
      color: $accent-color;
      border: none;
      height: 1px;
      position: relative;
      background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        $accent-color,
        rgba(0, 0, 0, 0)
      );
      &::before {
        content: '';
        display: block;
        position: absolute;
        border: 1px solid $font-color;
        background-color: $bg-color;
        width: 1.4rem;
        height: 1.4rem;
        transform: rotate(45deg) translate(-50%, -50%);
        left: 46%;
        top: 5px;
      }
    }
    h4 {
      line-height: 1.8rem;
    }
    hr {
      margin: 1rem 0;
      color: $accent-color;
      border: none;
      height: 1px;
      background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        $accent-color,
        rgba(0, 0, 0, 0)
      );
    }
    .about__img {
      margin: 1.8rem auto;
      width: 250px;
      border: 4px solid $font-color;
      border-radius: 50%;
      padding: 1.4rem;
      img {
        width: 100%;
      }
    }
  }
  &__skills {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    .skills-container {
      transition: all 0.4s ease-in-out;
      position: relative;

      &:hover {
        transform: scale(1.1);
      }
      .skills-icon {
        width: 140px;
        border-radius: 50%;
        margin: auto;
        border: 4px solid $accent-color;
        background-color: $bg-color;
        margin-bottom: -4rem;
        position: relative;
        z-index: 10;
        i.fas {
          color: $font-color;
          font-size: 60px;
          padding: 1.4rem;
        }
        img {
          max-width: 120px;
          width: 100%;
          padding: 1.4rem;
        }
      }
      .skills-description {
        background-color: $bg-color;
        padding: 5rem 1rem 3rem 1rem;
        margin: 0 1rem;
        border: 1px solid $font-color;
        border-bottom: 4px solid $accent-color;
        border-radius: 4px 4px 34px 34px;
        width: 300px;
        height: max-content;
        position: relative;
        hr:first-of-type {
          position: relative;
          width: 75%;
          margin: 1rem auto;
          &::before {
            content: '';
            display: block;
            position: absolute;
            border: 1px solid $font-color;
            background-color: $bg-color;
            width: 1.4rem;
            height: 1.4rem;
            transform: rotate(45deg) translate(-50%, -50%);
            left: 46%;
            top: 5px;
          }
        }
        hr {
          margin: 1rem 0;
          color: $accent-color;
          border: none;
          height: 1px;
          background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0),
            $accent-color,
            rgba(0, 0, 0, 0)
          );
        }
        p {
          margin: 1.4rem 0;
        }
        .skills-list {
          margin: 1rem 0 0 0;
          h3 {
            font-size: 1.4rem;
          }
          li {
            margin: 10px 0;
          }
        }
      }
    }
  }
  &__quote {
    background-color: $bg-color;
    padding: 1.4rem;
    border: 1px solid $font-color;
    text-align: center;
    margin: 1rem 0;
    font-size: 1.2rem;
    p:last-of-type {
      font-size: 1rem;
      margin: 0.5rem 0 0 0;
    }
    .quote {
      &::before {
        content: open-quote;
      }
      &::after {
        content: close-quote;
      }
    }
  }
}

.about-panel {
  display: none;
}

.about-panel.about-active {
  display: flex;
}

.timeline-container {
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
  text-align: center;
  position: relative;
  overflow-x: scroll;
  // .timeline {
  //   display: flex;
  //   width: 100%;
  //   height: 14px;
  //   background-color: $bg-color;
  //   border-top: 2px solid $font-color;
  //   border-bottom: 2px solid $font-color;
  // }
  // .content {
  //   border-left: 2px solid $accent-color;
  //   border-right: 2px solid $accent-color;
  //   max-width: 240px;
  // }
  // .text-content {
  //   border: 1px solid $font-color;
  //   background-color: $bg-color;
  //   p {
  //     padding: 1rem 0 0 0;
  //   }
  // }
  .timeline {
    position: absolute;
    top: 50%;
    min-width: 100vw;
    width: 100%;
    display: flex;
    background-color: $bg-color;
    height: 10px;
    border-top: 1px solid $font-color;
    border-bottom: 1px solid $font-color;
    &-img {
      position: absolute;
      top: 0;
      max-width: 400px;
      border: 3px solid $font-color;
      // padding: 1rem;
      background-color: $bg-color;
      img {
        width: 100%;
      }
    }
    .content {
      max-width: 240px;
      padding: 0 1rem;
      position: relative;
      border-left: 1px solid $font-color;
      border-right: 1px solid $font-color;
      &::before {
        content: '';
        position: absolute;
        top: 5px;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $bg-color;
        border: 1px solid $font-color;
        width: 40px;
        height: 20px;
        border-radius: 5px;
      }
      &::after {
        content: '';
        position: absolute;
        top: 5px;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $font-color;
        width: 20px;
        height: 7px;
        border-radius: 5px;
      }
      // &:last-of-type {
      //   margin-right: 5000px;
      // }
    }
    .text-content {
      margin-top: 2.4rem;
      padding: 1rem;
      background-color: $bg-color;
      border: 1px solid $font-color;
      position: relative;
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: scale(1.1);
        filter: brightness(1.2);
      }
      hr {
        margin: 10px 0;
        color: $accent-color;
        border: none;
        height: 1px;
        background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0),
          $accent-color,
          rgba(0, 0, 0, 0)
        );
      }
      h4 {
        font-weight: 400;
      }
    }
  }
}
