.home {
  height: 90vh;
  background: url(../img/circuit-board.svg);
  font-size: 1.4rem;
  &__header {
    width: 60%;
    height: 50vh;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      font-size: 3.4rem;
    }
    h1 span:first-of-type {
      color: $accent-color;
    }
    p {
      margin: 2.5rem;
      opacity: 0.8;
    }
    button {
      border: none;
      border-radius: 5px 5px 10px 10px;
      background-color: rgb(46, 46, 46);
      cursor: pointer;
      color: $font-color;
      padding: 1.2rem;
      margin: 0 1rem;
      text-transform: uppercase;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $border-gradient;
        background-size: 100% 100%;
        border-radius: 5px 5px 10px 10px;
        clip-path: polygon(100% 100%, 0% 100%, 0% 93%, 100% 93%);
        // filter: brightness(2);
        z-index: 13;
      }
      &.animation::after {
        animation: gradient-animation 10s linear infinite;
      }
      @keyframes gradient-animation {
        to {
          background-position: 100vw;
        }
      }
      a {
        color: $font-color;
        font-size: 1.2rem;
      }
      &:hover {
        filter: brightness(1.2);
      }
    }
  }
  .idk-why-i-put-this-slide {
    background: url(../img/bg-slide.png) repeat-x;
    background-size: cover;
    width: 100%;
    background-color: $bg-color;
    border: 2px solid $wew-color;
    border-right: none;
    border-left: none;
    height: 25vh;
    margin: 1.4rem 0;
    animation: slide 60s linear infinite;
  }
}

@keyframes slide {
  0% {
    background-position: -6969px 0;
  }
  100% {
    background-position: 420px 0;
  }
}
